@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Kanit", sans-serif;
    width: 100vw;
    height: 100vh;
    background: url('../img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.form-container {
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
    text-align: center;
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInFromBottom 1s forwards;
}

@keyframes fadeInFromBottom {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 10px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #333333;
    color: #ffffff;
    font-size: 16px;
    outline: none;
}

input:focus {
    border-color: #66afe9;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: green;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    transition-duration: .2s;
    background-color: rgba(0, 128, 0, 0.826);
}

#error-message {
    color: #ff3333;
    margin-top: 10px;
    font-size: 14px;
}
